* {
    padding: 0px;
    box-sizing: border-box;
}

.login {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: -10px;
}
.form {
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 10%;
    width: 90%;
    padding: 30px 30px 30px  30px;
    height: 430px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    div {
        margin-top: 28px;
    }
}
.btn {
    outline: none;
    padding: 10px;
    background-color: rgba(48, 47, 47, 0.3);
    border: 1px solid rgba(156, 95, 95, 0.7);
    margin-left: 38px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    font-size: 100%;
    border-radius: 5px;
    width: 50%;
    background-color: #e67e22;
    font-weight: 700;
    width: 30%;
    border-radius: 7px;
    padding: 12px;
    text-align: center;
    margin-left: 125px;
}
#forgot {
    cursor: pointer;
    text-decoration: underline;
    font-size: 100%;
    color: white;
    position: absolute;
    left: 52%;
    top: 77%;
}
.iput {
    padding-left: 40px;
    padding-top: 3px;
    resize: none;
    height: 40px;
    outline: none;
    background-color: rgba(48, 47, 47, 0.3);
    border: 1px solid rgba(156, 95, 95, 0.7);
    margin-left: 38px;
    cursor: pointer;
    border-radius: 5px;

    .iput:focus {
        color: black;
        font-weight: 2;
        background-color: rgb(204, 196, 196);
    }
    .iput:focus::-webkit-input-placeholder {
        color: black;
        font-weight: 500;
    }
    .iput::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
}

#checkbox {
    width: 20px;
    height: 20px;
}
.iput[type="email"],
.iput[type="password"] {
    width: 80%;
    height: 45px;
    font-size: 15px;
    transition: 0.3s;
    color: white;
    border: 2px solid rgba(218, 184, 218, 0.2);
}
#user,
#lock {
    position: absolute;
    margin-top: 13px;
    margin-left: 50px;
    color: white;
}
.checkb {
    position: relative;
    left: 12%;
}
#error {
    margin-top: 5px;
 
    color: white;
    text-align: center;
    color: red;
    position: relative;
}
#remember {
    position: relative;
    margin-left: 10px;
    top: -2px;
    color: white;
}
// .span-1-of-3 {
//     padding-top: 406px;
// }
